{% extends "authentication/base.html" %}

{% block title %}
  <title>Home</title>
{% endblock title %}

{% block content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Chat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'authentication:logout' %}">Logout</a>
      </div>
    </div>
  </nav>
  <div class="mt-5 container vh-100 d-flex justify-content-center align-items-top">

    <div class="list-group w-70">
      {% for c in conversations %}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 text-primary">{{ c.name }}</h5>
            <!-- <small>3 days ago</small> -->
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
      {% endfor %}
      <!-- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ c.name }}</h5>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a> -->
    </div>
    <div class="m-3 w-30 align-items-center">
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post" action="{% url 'mainApp:homepage' %}">
        {% csrf_token %}
        <h3>Create New Conversation</h3>
        <div class="form-floating mb-3">
          <input
            class="form-control"
            id="room_name"
            placeholder="Room Name"
            name='room_name'
            maxlength="30"
            minlength="1"
          />
          <label for="floatingRoomname">Room Name</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Start chat!
        </button>
      </form>
    </div>
    
  </div>

{% endblock content %}